.card {
  background-color: white;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  box-shadow: var(--box-shadow);
  padding: 32px 24px;
  display: flex;
  gap: 25px;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  margin-left: 3px;
  margin-right: 7px;
}

.article {
  padding: 0px 8px;
  display: flex;
}

.article:hover {
  .caret {
    color: var(--header-color);
    animation: bounce 1s infinite forwards ease-in-out;
  }
}

.title {
  color: var(--header-color);
}

.desc {
  margin-bottom: 12px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.bottom {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

.date {
  color: #707070;
  font-size: 13px;
}

.hr {
  height: 1px;
  background-color: #e3e3e3;
  border-radius: 20px;
}

.chip {
  padding: 6px 8px;
  border-radius: 5px;
  font-size: 13px;
}

.blue {
  background-color: #dff2ff;
  color: #6db0dc;
}

.purple {
  color: #9468dc;
  background-color: #ebdfff;
}

.green {
  background-color: #eaffdf;
  color: #8dd66e;
}

.default {
  background-color: #f5f5f5;
  color: #989898;
}

.caret {
  color: #e3e3e3;
  margin-left: auto;
  margin-right: 0px;
  height: 26px;
  width: 26px;
  flex-shrink: 0;
  transition: all 0.3s ease-out;
}

@keyframes bounce {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(0);
  }
}
