.currentRole {
  flex: 1;
}

.logo {
  border-radius: 100%;
}

.card {
  background-color: white;
  border-radius: var(--border-radius);
  border: 0.5px solid var(--border-color);
  padding: 3px;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}

.card h3 {
  margin-top: 5px;
  margin-bottom: 3px;
}

.card h4 {
  color: var(--text-color);
}

.card p {
  color: var(--text-color);
}

.header {
  margin-bottom: 12px;
  margin-left: 3px;
}
