.button {
  padding: 14px 16px;
  font-family: var(--body-font);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  text-wrap: nowrap;
}

.primary {
  background-color: #393939;
  color: white;
  border: 1px solid #353535;
}

.primary:hover {
  background-color: #2e2e2e;
}

.secondary {
  color: #393939;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
}

.secondary:hover {
  background-color: #fbfbfb;
}

.icon {
  width: 18px;
  height: 18px;
}
