.grid {
  display: grid;
  grid-template-columns: 700px;
  gap: 20px;
}

.title {
  margin-top: 0px;
}

.pfp {
  border: 1px solid var(--border-color);
  padding: 4px;
  border-radius: 100%;
  box-shadow: var(--box-shadow);
}

.name {
  margin-bottom: 8px;
  font-size: 1.375rem;
  font-weight: 600;
  color: var(--header-color);
  font-family: var(--header-font);
}

.details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.meta {
  display: flex;
  align-items: center;
  gap: 10px;
}

.date {
  font-size: 14px;
}

.author {
  display: flex;
  align-items: center;
  gap: 20px;
}

.claps {
  display: flex;
  padding: 10px;
  border-radius: 100%;
  border: 1px solid var(--border-color);
  cursor: not-allowed;
  margin-right: 2px;
}

.article {
  box-sizing: border-box;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  margin-bottom: 8px;
  margin-top: 24px;
}

.article h4 {
  font-weight: 600;
}

.article a {
  color: #75a0f5;
}

.article p {
  margin-bottom: 14px;
}

.article code {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  text-wrap: wrap;
}

.article img,
.article video {
  width: 100%;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  box-shadow: var(--box-shadow);
  padding: 5px;
  box-sizing: border-box;
}

.hr {
  height: 1px;
  background-color: var(--border-color);
  margin: 20px 0;
  width: 100%;
}

@media only screen and (max-width: 1300px) {
  .grid {
    grid-template-columns: 800px;
  }
}

@media only screen and (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
