:root {
  --bg-color: #f9f9f9;
}

[data-theme="dark"] {
  --bg-color: #232323;
}

body {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  font-family: var(--body-font);
  color: #393939;
}

button {
  font-family: var(--body-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
  letter-spacing: 1.5px;
  font-weight: 600;
  margin: 0px;
}

p {
  margin: 0px;
}
