.home {
  display: grid;
  grid-template-columns: 1fr 800px;
  gap: 40px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.top {
  display: flex;
  gap: 20px;
}

@media only screen and (max-width: 1300px) {
  .home {
    grid-template-columns: 800px;
    gap: 30px;
  }
}

@media only screen and (max-width: 800px) {
  .home {
    grid-template-columns: 1fr;
    gap: 24px;
    padding-bottom: 12px;
  }

  .top {
    flex-direction: column;
    gap: 24px;
  }

  .right {
    gap: 24px;
  }
}
