.home {
  display: flex;
  gap: 40px;
}

@media only screen and (max-width: 1300px) {
  .home {
    flex-direction: column;
    gap: 30px;
    padding-bottom: 20px;
  }
}

.right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 800px;
}

.top {
  display: flex;
  gap: 20px;
}

@media only screen and (max-width: 800px) {
  .top {
    flex-direction: column;
  }
}
