.card {
  background-color: white;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  flex: 1;
  box-sizing: border-box;
}

.about {
  padding: 20px;
  min-height: 240px;
}

.header {
  margin-bottom: 12px;
  margin-left: 3px;
}

.row {
  display: flex;
  gap: 20px;
}

@media only screen and (max-width: 800px) {
  .row {
    flex-direction: column;
  }
}

.icon {
  border-radius: 100%;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: min-content;
  height: 42px;
  width: 42px;
  box-sizing: border-box;
}

.imageCard {
  padding: 5px;
  position: relative;
  overflow: hidden;
}

.pics {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  min-height: 200px;
}

.image {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  flex-grow: 0;
  transition: all 300ms ease-in-out;
}

.buttons {
  position: absolute;
  padding: 6px;
  border-radius: 20px;
  display: flex;
  gap: 4px;
  background-color: rgba(0, 0, 0, 0.95);
  left: 50%;
  translate: -50%;
  bottom: 1rem;
}

.btn {
  background-color: #6e6e6e;
  border-radius: 100%;
  border: none;
  aspect-ratio: 1;
  width: 6px;
  padding: 0px;
  cursor: pointer;
}

.active {
  background-color: white;
}
