.header {
  margin-bottom: 5px;
  margin-left: 3px;
}

.text {
  margin-bottom: 13px;
  margin-left: 3px;
}

.skills {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  .skills {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.circle {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  box-shadow: var(--box-shadow);
}

.image {
  transition: transform 0.2s ease-out;
}

.circle:hover {
  .image {
    transform: scale(1.05);
  }
}
