.myLocation {
  flex: 1;
}

.icon {
  border-radius: 100%;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: min-content;
  height: 42px;
  width: 42px;
  box-sizing: border-box;
}

.card {
  background-color: white;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  padding: 3px;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.globe {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
}

.globePlaceholder {
  position: absolute;
  top: 34px;
  right: 48px;
  aspect-ratio: 1;
  width: 173px;
  border-radius: 100%;
  background-color: rgb(232, 246, 255);
}

@media only screen and (max-width: 800px) {
  .globePlaceholder {
    display: none;
  }
}

.header {
  margin-bottom: 12px;
  margin-left: 3px;
}
