.grid {
  display: grid;
  grid-template-columns: 800px 1fr;
  gap: 30px;
}

.article {
  box-sizing: border-box;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  margin-bottom: 8px;
  margin-top: 24px;
}

.article p {
  margin-bottom: 0px;
}

.article code {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  text-wrap: wrap;
}

.article img {
  width: 100%;
  border-radius: 10px;
}

@media only screen and (max-width: 1300px) {
  .grid {
    grid-template-columns: 800px;
  }
}

@media only screen and (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
